<div class="code-snippet">

  <pre class="code-snippet__code" data-csid="demo">
    {{yield}}
  </pre>

  {{#copy-button
    clipboardTarget=".code-snippet__code"
  }}
    Copy
  {{/copy-button}}
</div>