<div class="code-snippet">

  <pre class="code-snippet__code" data-csid={{snippetId}}>
    {{yield}}
  </pre>

  {{#copy-button
    clipboardTarget=(join '' (array '[data-csid=' snippetId ']'))
  }}
    Copy
  {{/copy-button}}

  <div class="">{{join '' (array 'yay' snippetId) }}</div>
</div>