{{yield}}

<div class="code-with-explanation">
  <div class="code-with-explanation__explanation">
    {{#yield-slot 'explanation'}}
      {{yield}}
    {{/yield-slot}}
  </div>

  {{#copy-button class="bn bg-near-white br3 ba" clipboardTarget=(join '' (array '[data-csid=' snippetId ']')) }}

  <p class="code-snippet__code flex-grow-1 code" data-csid={{snippetId}}>
    {{#yield-slot 'code'}} {{yield}} {{/yield-slot}}
  </p>

  {{/copy-button}}

</div>



