<div class="code-with-explanation">
  <div class="code-with-explanation__explanation">
    Here is will I I explained,
  </div>
  {{#code-snippet snippetId=snippetId}}
    {{yield}}
  {{/code-snippet}}

</div>

