<h1>Everyone can customize their terminal!</h1>

<div class="explanation">

  {{#copy-button
    clipboardTarget="#reverse-search"
    success=(action "onSuccess")
    error=(action "onError")
  }}
    Copy URL
  {{/copy-button}}
</div>
<div class="code-sample">
  <pre id="reverse-search">
    ctrl-r
  </pre>


  <h2>use component</h2>

  {{#code-snippet}}
    console.log( 'it worked' );
  {{/code-snippet}}

  <h2>use better component</h2>

  {{#code-with-explanation snippetId='wow'}}
    {{#block-slot 'explanation'}}
      Most code needs a nice explanation.
    {{/block-slot}}

    {{#block-slot  'code'}}
      console.log( 'from the reasfd mod route template' );

    {{/block-slot}}
  {{/code-with-explanation}}
</div>
{{outlet}}