<h1>Everyone can customize their terminal!</h1>

<div class="main-content">
  <section class="bb bw5 b--washed-yellow">
    <h2>Where am I?</h2>
    {{#code-with-explanation snippetId='pwd'}}
      {{#block-slot 'explanation'}}
        <p>Print the working directory.</p>
      {{/block-slot}}

      {{#block-slot  'code'}}
        pwd
      {{/block-slot}}
    {{/code-with-explanation}}

    {{#code-with-explanation snippetId='library'}}
      {{#block-slot 'explanation'}}
        I like libraries
      {{/block-slot}}

      {{#block-slot  'code'}}
        console.log( 'I like libraries' );
      {{/block-slot}}
    {{/code-with-explanation}}

    {{#code-with-explanation snippetId='wow'}}
      {{#block-slot 'explanation'}}
        Most code needs a nice explanation.
      {{/block-slot}}

      {{#block-slot  'code'}}
        console.log( 'from the reasfd mod route template' );
      {{/block-slot}}
    {{/code-with-explanation}}
  </section>

  {{outlet}}

</div>