<h1>Everyone can have fun in the terminal!</h1>

<p class="i">Click on a grey box to copy that text to the clipboard.</p>

<p>See
  <a href="https://www.dropbox.com/s/za4u477jr73l4ln/terminal-fun-talk.pdf?dl=0"
     target="_blank"
  >
    slides from my talk</a>
  for a bit more context around this material.
</p>

<div class="main-content">
  <section class="bb bw5 b--washed-yellow">
    <h2>File system</h2>
    {{#code-with-explanation snippetId='pwd'}}
      {{#block-slot 'explanation'}}
        <p>Print the working directory.</p>
      {{/block-slot}}

      {{#block-slot  'code'}}
        pwd
      {{/block-slot}}
    {{/code-with-explanation}}

    {{#code-with-explanation snippetId='cd'}}
      {{#block-slot 'explanation'}}
        Go to my home directory
      {{/block-slot}}

      {{#block-slot  'code'}}
        cd
      {{/block-slot}}
    {{/code-with-explanation}}

    {{#code-with-explanation snippetId='ls'}}
      {{#block-slot 'explanation'}}
        List the files in this directory.
      {{/block-slot}}

      {{#block-slot  'code'}}
        ls
      {{/block-slot}}
    {{/code-with-explanation}}

    {{#code-with-explanation snippetId='cdpath'}}
      {{#block-slot 'explanation'}}
        Go to directory by path
      {{/block-slot}}

      {{#block-slot  'code'}}
        cd Downloads/triplex-master/public/
      {{/block-slot}}
    {{/code-with-explanation}}

    {{#code-with-explanation snippetId='lsh'}}
      {{#block-slot 'explanation'}}
        List files in the current directory, with size and last modified date
      {{/block-slot}}

      {{#block-slot  'code'}}
        ls -lh
      {{/block-slot}}
    {{/code-with-explanation}}

    {{#code-with-explanation snippetId='openinfinder'}}
      {{#block-slot 'explanation'}}
        To view the current directory in the Finder:
      {{/block-slot}}

      {{#block-slot  'code'}}
        open .
      {{/block-slot}}
    {{/code-with-explanation}}

    {{#code-with-explanation snippetId='doubleclick'}}
      {{#block-slot 'explanation'}}
        To open a file in the current directory as if you double clicked it:
      {{/block-slot}}

      {{#block-slot  'code'}}
        open babyarya.png
      {{/block-slot}}
    {{/code-with-explanation}}

    {{#code-with-explanation snippetId='tabcomplete'}}
      {{#block-slot 'explanation'}}
        There's no need to type long filenames!
        Start typing the filename then hit tab. The shell
        will show a list of possible completions. Keep typing letters
        until there is only one option; the shell will complete
        the filename for you.
      {{/block-slot}}

      {{#block-slot  'code'}}
        open bow
      {{/block-slot}}
    {{/code-with-explanation}}
    <p>Now hit the tab key, then press return. Hi, Sam! </p>
  </section>

  <section class="bb bw5 b--washed-yellow">
    <h2>Repeating and reusing commands</h2>
    {{#code-with-explanation snippetId='doublebang'}}
      {{#block-slot 'explanation'}}
        To repeat the previous command:
      {{/block-slot}}

      {{#block-slot  'code'}}
        !!
      {{/block-slot}}
    {{/code-with-explanation}}

    {{#code-with-explanation snippetId='history'}}
      {{#block-slot 'explanation'}}
        To list out recent commands:
      {{/block-slot}}

      {{#block-slot  'code'}}
        history
      {{/block-slot}}
    {{/code-with-explanation}}

    {{#code-with-explanation snippetId='echobang'}}
      {{#block-slot 'explanation'}}
        To see what will be executed if you redo a previous command:
      {{/block-slot}}

      {{#block-slot  'code'}}
        echo !11
      {{/block-slot}}
    {{/code-with-explanation}}

    {{#code-with-explanation snippetId='bangbang'}}
      {{#block-slot 'explanation'}}
        To repeat a previous command by number:
      {{/block-slot}}

      {{#block-slot  'code'}}
        # Use caution!
        !11 # this will actually execute command number 11
      {{/block-slot}}
    {{/code-with-explanation}}

    {{#code-with-explanation snippetId='caret'}}
      {{#block-slot 'explanation'}}
        To repeat a previous command but change "foo" to "bar":

        {{#copy-button class="bn bg-near-white br3 mv1 ba w-100 flex"
                       clipboardTarget="#nonsense"}}

          <p class="code-snippet__code code" id="nonsense">
            echo "my favorite nonsense word is foo"
          </p>
        {{/copy-button}}
      {{/block-slot}}

      {{#block-slot  'code'}}
        ^foo^bar
      {{/block-slot}}
    {{/code-with-explanation}}
  </section>


  <section class="bb bw5 b--washed-yellow">
    <h2>Configuring the prompt</h2>
    {{#code-with-explanation snippetId='resetprompt'}}
      {{#block-slot 'explanation'}}
        To reset the prompt to something basic:
      {{/block-slot}}

      {{#block-slot  'code'}}
        export PS1="hello $ "
      {{/block-slot}}
    {{/code-with-explanation}}


    {{#code-with-explanation snippetId='ezprompt'}}
      {{#block-slot 'explanation'}}
        To configure an interesting prompt:
      {{/block-slot}}

      {{#block-slot  'code'}}
        open http://ezprompt.net
      {{/block-slot}}
    {{/code-with-explanation}}


  </section>

  <section class="bb bw5 b--washed-yellow">
    <h2>Saving your changes</h2>
    {{#code-with-explanation snippetId='curlstarter'}}
      {{#block-slot 'explanation'}}
        I've put a starter configuration at
        <a href="http://bit.ly/startershell">http://bit.ly/starter-config</a> .
        To save that file to your machine:
      {{/block-slot}}

      {{#block-slot  'code'}}
        curl -L http://bit.ly/starter-config &gt; bash_profile_starter
      {{/block-slot}}
    {{/code-with-explanation}}


    {{#code-with-explanation snippetId='applyprofile'}}
      {{#block-slot 'explanation'}}
        To apply the configuration in that file temporarily:
      {{/block-slot}}

      {{#block-slot  'code'}}
        source bash_profile_starter
      {{/block-slot}}
    {{/code-with-explanation}}

  </section>


  {{outlet}}

</div>