<h1>Selected Work Samples</h1>

<p>
  <a href="https://gist.github.com/benshine/cb1bd45152893be95afdd1307ee88b0f">
    Pancake Sort as a standalone exercise
  </a>. See also <a href="https://www.youtube.com/embed/kk-_DDgoXfk">animated pancake sort</a>.
</p>

<p>
  <a href="https://github.com/benshine/sandbox/blob/master/scripts/hello-node/game-reducer.js">
    Tic tac toe in redux with ramda (mid development)
  </a>
</p>

<p>
  <a href="https://github.com/MostlyAdequate/mostly-adequate-guide/issues/372">
    Reporting</a> and then
  <a href="https://github.com/MostlyAdequate/mostly-adequate-guide/pull/374/files">
    improving</a>
  a difficult section of a book about functional programming in JavaScript.
  <a href="https://mostly-adequate.gitbooks.io/mostly-adequate-guide/content/ch04.html">
    Here's that change in the actual book.
  </a>
</p>

<p>
  <a href="https://github.com/scala/docs.scala-lang/pull/393/files">
    A PR improving getting started instructions to build the Scala documentation
  </a>
</p>

<p>
  <a href="https://github.com/benshine/triplex">
    This application's source code
  </a>
</p>

<p>
  <a
    href="https://medium.com/altschool-engineering/ember-at-altschool-many-apps-and-many-add-ons-934143933e68#.pw45wvooo">
    Ember at AltSchool
  </a>
</p>
<p>
  <a href="https://medium.com/altschool-engineering/tackling-take-home-coding-challenges-b9cbfd469b7c">
    Suggestions for tackling take home coding challenges
  </a>
</p>
