<h1>Selected Code Samples</h1>

  <p>
    <a href="https://gist.github.com/benshine/cb1bd45152893be95afdd1307ee88b0f">
      Pancake Sort as a standalone exercise
    </a>
  </p>

  <p>
    <a href="https://github.com/benshine/sandbox/blob/master/scripts/hello-node/game-reducer.js">
      Tic tac toe in redux with ramda (mid development)
    </a>
  </p>

  <p>
    <a href="https://github.com/MostlyAdequate/mostly-adequate-guide/issues/372">
      Reporting</a> and then
    <a href="https://github.com/MostlyAdequate/mostly-adequate-guide/pull/374/files">
      improving</a>
    a difficult section of a book about functional programming in JavaScript.
  </p>

  <p>
    <a href="https://github.com/scala/docs.scala-lang/pull/393/files">
      A PR improving getting started instructions to build the Scala documentation.
    </a>
  </p>


  <p>
    <a href="https://github.com/benshine/triplex">
      This application's source code
    </a>
  </p>